
    <div class="content">
        <div class="container-fluid">


            <!--      here you can write your content for the main area                     -->
            <div class="row">
                <img src="../../assets/img/portada_mimadretierra_cocha.jpg" alt="" class="img-responsive">

            </div>
<br><br> <br>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" col-md-4 hidden-xs hidden-">
                                    <i class="fa fa-file" style="font-size: 100px; margin-top:20px"></i>
                                </div>
                                <div class="col-md-7 col-md-offset-1 col-xs-12 text-left">
                                    <div class="huge">Registros</div>
                                    <p class="text-justify">Con Jallu Predix se puede obtener los registros de aquellas estaciones meteorologicas instaladas en el pais</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" col-md-4 hidden-xs hidden-">
                                    <i class="fa fa-line-chart" style="font-size: 100px; margin-top:20px"></i>
                                </div>
                                <div class="col-md-7 col-md-offset-1 col-xs-12 text-left">
                                    <div class="huge">Reportes </div>
                                    <p class="text-justify">Con Jallu Predix se puede obtener los registros de aquellas estaciones meteorologicas instaladas en el pais</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" col-md-4 hidden-xs hidden-">
                                    <i class="pe-7s-map-marker" style="font-size: 100px; margin-top:20px"></i>
                                </div>
                                <div class="col-md-7 col-md-offset-1 col-xs-12 text-left">
                                    <div class="huge">Estaciones</div>
                                    <p class="text-justify">Con Jallu Predix se puede obtener los registros de aquellas estaciones meteorologicas instaladas en el pais</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- Fin row -->
            

        </div>
    </div>
