<style type="text/css">

  @media (max-width: 600px) {
    #canvaschart{
      height: 400px;
      width: 400px;
    }
  }

</style>

<div class="container-fluid">
  <ul class="nav nav-tabs">
   <li ><a [routerLink]="['/grafica-dia']">Diario</a></li>
   <li ><a  [routerLink]="['/grafica-mensual']">Mensual</a></li>
   <li class="active"><a [routerLink]="['/grafica-anual']">Anual</a></li>
 </ul>

 <div class="card">
   <br><br><br>
   <div class="row">
    <div class="col-md-3 col-md-offset-4" >
     <select class="form-control">
       <option>Precipitacion</option>
       <option>Radiacion Solar</option>
       <option>Humedad Ambiente</option>
       <option>Temperautra</option>
     </select>
   </div>
   <div class="col-md-2 col-md-offset-2">
    <button class="btn btn-success btn-fill"[routerLink]="['/estacion']" >Mas Detalles</button>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <div style="display: block;">
      <canvas baseChart width="400" height="200" id="canvaschart"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"


      [chartType]="lineChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked(randomize())"></canvas>

    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-10 col-md-offset-1" style="margin-bottom: 10px">
    <!-- <h3>Tabla de Registros</h3> -->
      <!-- <div class="table-responsive">
        
      <table class="table table-responsive table-bordered">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
    </div> -->
    <!-- Fin Table -->

  </div>
  <!-- Fin div -->
</div>
<!-- fin row -->

</div>
</div>
